@model EduPortalV2.Models.Course

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-info"><strong>Düzenleme Sayfası</strong></div>

<h4>Kurs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseDescription" class="control-label"></label>
                <input asp-for="CourseDescription" class="form-control" />
                <span asp-validation-for="CourseDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuotaCount" class="control-label"></label>
                <input asp-for="CuotaCount" class="form-control" />
                <span asp-validation-for="CuotaCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceDaily" class="control-label"></label>
                <input asp-for="PriceDaily" class="form-control" />
                <span asp-validation-for="PriceDaily" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoUrl" class="control-label"></label>
                <input asp-for="VideoUrl" class="form-control" />
                <span asp-validation-for="VideoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentUrl" class="control-label"></label>
                <input asp-for="DocumentUrl" class="form-control" />
                <span asp-validation-for="DocumentUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EducatorId" class="control-label"></label>
                <select asp-for="EducatorId" class="form-control" asp-items="ViewBag.EducatorId"></select>
                <span asp-validation-for="EducatorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Kurs Listesine Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
